.content {
            position: absolute;
            width: 100%;
            bottom: 0%;
            transform: translate(0, -50%);
            text-align: center;
        }
        
.timer {
	font-size: 180%;
	line-height: 1.5;
	margin: 1em 0;
	color: rgb(240,248,255);
}

.timer b {
	color: rgb(253, 99, 125);
}